@import "../../../../vars";

.Logo {
  @include flex(column, center, center);

  height: 68px;
  margin-top: 5rem;
  position: relative;
  width: 68px;
}

.Typography {
  h1 {
    @include font("S");
    letter-spacing: 1rem;
    margin-left: 1rem;
  }
}

.Border {
  border: 2px solid $charcoal;
  height: 100%;
  position: absolute;
  transform: rotate(45deg);
  transition: 1s;
  width: 100%;

  &:hover {
    transform: rotate(0deg);
  }
}
