@import "../../../../vars";

.Social {
  @include flex(column, null, center);

  margin-bottom: 3rem;
  margin-top: auto;

  a {
    @include font("XL");

    margin-bottom: 3rem;
    transition: 1s;
  }

  a:hover {
    transform: rotate(45deg);
  }
}
