@import "../../../../vars";

.SkillCard {
  @include flex(column, center, center);

  p {
    @include font("S");

    margin-top: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.4rem;
  }
}

.SkillBubble {
  @include flex(column, center, center);

  border-radius: 50%;
  border: 0.1px solid $lightgray;
  height: 10rem;
  padding: 1.2rem;
  text-align: center;
  width: 10rem;

  @include min-width(768px) {
    height: 12rem;
    width: 12rem;
  }
}

.ImageContainer {
  height: 70%;
  width: 70%;
}

.ImageSvg {
  height: 100%;
}

.Firebase {
  margin-top: -1rem;
}
