@import "../../vars";

.PageTitle {
  @include flex(column, flex-start, center);

  margin-top: $spacingFromTop;
  text-align: center;

  h1 {
    @include font("L");
    @include underline(100%);
    letter-spacing: 0.4rem;
    font-weight: 300;

    @include min-width(768px) {
      @include font("XXL");
    }
  }
}
