@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

a:link,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
div,
p,
a {
  color: hsl(24, 24%, 11%);
}

a:link,
a:visited {
  text-decoration: none;
  color: hsl(24, 24%, 11%);
}

a {
  cursor: pointer !important;
}

/* Button Reset */
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Montserrat", sans-serif;
}

button:active {
  transform: scale(0.99);
}
