@import "../../../vars";

.Card {
  @include flex(column, space-between, center);

  width: 100%;
  height: 55rem;
  max-width: 50rem;
  margin: 3rem;
  border: 1px solid $lightgray;
}

.MainImageContainer {
  width: 100%;
}

.Title {
  @include font("M");

  letter-spacing: 0.1rem;
}

.Technology {
  @include flex(row, space-around, center);

  width: 100%;
  margin-top: 1rem;

  .ImageContainer {
    width: 10%;

    img {
      width: 90%;
    }
  }
}

.Controls {
  @include flex(row, space-around, center);

  width: 100%;
  padding: $spaceM 0;

  a {
    @include flex(row, center, center);
    @include font("S");

    svg {
      @include font("L");
      margin-right: 1rem;
    }

    p {
      color: blue;
    }
  }
}
