@import "../../../../vars";

.MainTitle {
  @include flex(column);

  h1 {
    @include font("L");
    font-weight: 300;
    letter-spacing: 0.4rem;
  }

  @include min-width(768px) {
    width: 500px;
    margin-left: -5rem;

    h1 {
      @include font("XXL");
    }

    h1:nth-child(2) {
      align-self: flex-end;
    }
  }

  @include min-width(1200px) {
    width: 600px;

    h1 {
      @include font("G");
    }
  }
}
