@import "../../../../vars";

.Subtitle {
  @include flex(column);

  letter-spacing: 0.4rem;
  margin-top: 3rem;
  position: relative;
  width: 170px;

  h2 {
    @include font("S");
    font-weight: 300;
  }

  //Push to end of div
  h2:nth-child(3),
  h2:nth-child(4) {
    align-self: flex-end;
  }

  //Oranger Spacer
  h2:nth-child(1)::after,
  h2:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 1.5em;
    background: $primary;
  }

  h2:nth-child(1) {
    &::after {
      margin-left: 1rem;
    }
  }

  h2:nth-child(3) {
    &::before {
      margin-left: -1rem;
    }
  }

  @include min-width(768px) {
    h2 {
      @include font("M");
    }

    h2:nth-child(1) {
      &::after {
        margin-left: 2rem;
      }
    }

    h2:nth-child(3) {
      &::before {
        margin-left: -2rem;
      }
    }
  }
}
