@import "../../../vars";

.Title {
  @include flex(column, center, center);

  margin-top: 5rem;

  @include min-width(900px) {
    @include flex(row, space-between, flex-start);

    max-width: 1000px;
    width: 70vw;
  }
}
