@import "../../../../vars";

.Navigation {
  @include flex(column, flex-start, center);

  margin-top: 10rem;

  a {
    @include font("S");

    margin-bottom: 2rem;
    transition: 0.3s;

    &:hover {
      text-shadow: 1px 1px 1px $darkgray;
    }
  }
}

.Resume {
  @include flex(row, center, center);

  svg {
    font-size: 2rem;
    margin-left: 10px;
  }
}
