@import "../../../vars";

.Grid {
  display: grid;
  grid-template-areas:
    "copy"
    "card1"
    "card2"
    "card3";
  grid-gap: 3rem;
  justify-items: center;
  max-width: 500px;
  padding: 3rem;

  @include min-width(1000px) {
    grid-template-areas:
      "card1 card1 card1 copy copy copy"
      "card1 card1 card1 copy copy copy"
      "card1 card1 card1 card2 card2 card2"
      "card3 card3 card3 card2 card2 card2"
      "card3 card3 card3 card2 card2 card2"
      " card3 card3 card3 . . ."
      " card3 card3 card3 . . .";

    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
    height: calc(100% - 250px);
  }
}

.Copy {
  @include font("S");

  grid-area: copy;
  padding: 3rem;
  max-width: 600px;

  @include min-width(1000px) {
    @include font("M");
  }
}

.Card {
  @include flex(column, center, center);

  background: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  height: 300px;
  opacity: 1 !important;
  width: 100%;

  h2 {
    @include font("XL");

    border-bottom: 1px solid white;
    padding-bottom: 3rem;
    color: white;
  }

  @include min-width(1000px) {
    height: 100%;
  }
}

.Card1 {
  grid-area: card1;
}

.Card2 {
  grid-area: card2;
}

.Card3 {
  grid-area: card3;
}

.Link {
  color: dodgerblue;
  font-weight: bold;
}
